@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

@font-face {
  font-family: "Revamped";
  src: local("Revamped"), url("./Fonts/revamped/Revamped.woff") format("woff");
}

@font-face {
  font-family: "Ocraext";
  src: local("Ocraext"), url("./Fonts/OCRAEXT.woff") format("woff");
}

p,span,button{
  font-family: 'Roboto Mono', monospace !important;
  font-weight: 400 !important;
}

h1{
  font-family: 'Revamped' !important;
}

h2,h3,h4,h5,h6{
  font-family: 'Ocraext' !important;
}


