body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}
ul,
li,
a,
span,
button,
p,
button,
input,
optgroup,
select,
textarea {
  font-family: "Nunito", sans-serif;
}
/* admin panel */

.row_class{
  margin-left:0 !important;
  margin-right:0 !important;
  background: #E9EDF2;
  height:100vh;
  width:100%;

}.admin_container{
  max-width:1000px  !important;
}.form_data input{
  margin-bottom: 10px;
  padding: 10px 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color:#c5c7c9;
}.login_btn{
    background: #4B4B4B;
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 12px 0px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
}.login_img_div img{
  width: 100%;
  height: 441px;
  object-fit: cover;
}.admin_div{
  background:white;
  padding:50px 24px 74px 24px;
}.login_img_div{
  position:relative;
}.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 62%);
}.admin_data{
  position: absolute;
  top: 37%;
  left: 32%;
  color: white;
  text-align: center;
}.admin_data h2{
  margin-top:16px;
  text-transform: uppercase;
}.admin_data h2 span{
  color: #248ac7;
  font-weight: 600;
}.form_group{
  display:inline-flex;
  width:100%;
}.form_group span{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 48px;
  height: 46px;
  background: #e8edf285;
  border: 1px solid #c5c7c9;
  line-height: 38px;
  text-align: center;
  border-right: none;
}.main_navbar{
  padding: 10px 0px;
  background: #4B4B4B;
  color: white;
}.navbar_left_div h4{
  margin-bottom:0;
}.navbar_right_div{
  margin:auto;
  text-align: right;
}.navbar_right_div h5{
  margin-bottom:0;
}.navbar_right_div h5 span{
  vertical-align: bottom;
}.main_navbar .row .col-xs-6{
  flex: 0 0 auto;
  width: 50%;
}.sidebar{
  background: #4B4B4B;
  height: 100%;
  padding-top: 18px;
}.sidebar ul li a{
  color:white;
}.sidebar ul li a:hover{
  color:white;
}.sidebar ul li a:focus{
  color:white;
}.sidebar_cross{
  padding-right:12px;
}.page_head{
  background: white;
  padding: 18px 20px;
  color:#4B4B4B;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}.page_head span{
  vertical-align: top;
}.settings_div{
  background: white;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  padding:20px;
  margin-bottom: 20px;
}.settings_div h4{
  margin-bottom: 18px;
  color: #303030;
  border-bottom: 1px solid #e0e1e1;
  padding-bottom: 6px;
}.form_btn{
    background: #4B4B4B;
    color: white;
    margin-top: 20px;
    padding: 8px 22px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
}.settings_form_data{
    text-align: right;
}.logo{
  font-size: 24px;
  font-weight: 600;
  width: 220px;
  background: #29a0e7;
  padding: 8px 10px;
  text-align: center;
  border-radius: 4px;
  color:#3f3e3e;
}.logo span{
  color:#ffffff;
}.form_label{
  text-align: left;
  width: 100%;
}.form_data textarea{
  height:100px;
}.settings_form_data .form_data input{
  margin-bottom: 10px;
  padding: 10px 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color:#c5c7c9;
}

/*Landing page css*/
.p-0{
  padding:0;
}.home_navbar{
  background: #000000;
  padding: 12px 2px;
}.home_navbar_left_div h4{
  color:#72F595;
  margin-bottom: 0;
}.home_navbar_right_div ul{
  list-style: none;
  display: inline-flex;
  width: 100%;
  justify-content: right;
  margin-bottom: 0;
}.home_navbar_right_div ul li{
  margin-left:12px;
}.footer{
  background: #72F595;
}.footer p{
  margin-bottom: 0;
  padding: 6px;
  font-weight: 600;
  text-align: center;
}.banner{
  background: #000000;
  padding:148px;
}.banner p{
  color: rgb(34 55 75);
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}.second_section{
  background: #0F1922;
  padding: 42px;
  text-align: center;
}.second_section h3{
  color: white;
}.second_section p{
  color: rgb(34 55 75);
  font-size: 80px;
  font-weight: bold;
  background: #040E17;
  padding: 10px 20px;
  width: 700px;
  margin: auto;
  margin-top: 36px;
}.second_section span{
  color: #72F595;
  font-size: 18px;
  padding-bottom: 20px;
  display: block;
}.second_section h6{
  font-size: 15px;
  color:white;
}.section1_img{
  background: #72F595;
  color: black;
  padding: 60px 0px;
  border-radius: 24px;
  margin: 16px 30px 30px;
}.section1_img h5{
  font-size: 26px;
  color: black;
  font-weight: 600;
}.third_section{
  background: #0F1922;
  padding-top: 40px;
  padding-bottom: 88px;
}.third_section_content h5{
  color: #72F595;
  padding-bottom: 10px;
}.third_section_content p{
  color: white;
  font-size: 17px;
}.fourth_section h3{
  color:white;
  text-align: center;
  padding-bottom: 24px;
}.fourth_section{
  padding: 50px 16px;
  background: #13212A;
  width: 1000px !important;
  margin-bottom: 40px;
  border-radius: 36px;
}.fourth_section .p-1,.p4{
  color: #000000;
  font-size: 22px;
  font-weight: 600;
}.fourth_section .p-2{
  color: #72F595;
    background: #000000;
    font-size: 22px;
    font-weight: 600;
    width: 140px;
    height: 134px;
    border-radius: 50%;
    line-height: 110px;
    margin: auto;
}.under_fourth_section1{
  margin: auto !important;
}.under_fourth_section2{
  margin: auto !important;
}.line {
  flex-grow: 1;
  height: 1px;
  background: black;
  position: relative;
}
.arrow-left:after {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000000;
}.arrow-right:after{
  position: absolute;
  content: '';
  bottom: -10px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000000;
}.under_fourth{
  display: inline-flex;
  margin: 20px auto;
  align-items: center;
}.p-1{
  text-align: right;
}.p4{
  text-align: left;
  padding: 0px;
}.fifth_section{
  padding: 50px 16px;
  text-align: center;
  width: 1000px !important;
}.fifth_section h3{
  color: white;
}.under_fifth1{
  background: #72F595;
  padding-bottom: 20px;
}.under_fifth1 h5{
  background: black;
  color: white;
  padding: 12px;
  margin-bottom: 20px;
}.under_fifth1 ul li{
  text-align: left;
  font-weight: 600;
}.under_fifth1 ul li p{
  margin-bottom: 4px;
  margin-left: 24px;
}.under_fifth2{
  background: #000D15;
  height: 394px;
  margin-bottom: 20px;
}.under_fifth2 h5{
  background: black;
  color: white;
  padding: 12px;
  margin-bottom: 20px;
}.under_fifth2 p{
  color: white;
  font-size: 20px;
  line-height: 236px;
}.sixth_section{
  padding: 50px 16px;
  text-align: center;
  width: 1000px !important;
}.sixth_section h3{
  color: white;
}.under_sixth1{
  background: #000000;
  padding: 80px;
  border-radius: 36px;
  margin-bottom: 30px;
}.under_sixth2 ul li p{
  margin-bottom: 6px;
  margin-left: 24px;
}.under_sixth2{
  background: #000000;
  border-radius: 36px;
  margin-bottom: 30px;
  padding: 20px;
}.under_sixth2 ul li{
  text-align: left;
  color:white;
  font-size: 15px;
  margin-bottom: 10px;
}.under_sixth2 h5{
  color:white;
  padding-bottom: 14px;
}.seventh_section{
  text-align: center;
  width: 1000px !important;
}.seventh_section p{
  color:white;
  margin-bottom: 12px;
}.eighth_section{
  text-align: center;
  width: 800px !important;
  padding: 50px 16px;
}.eighth_section p{
  color: white;
}.nineth_image_div{
  background: #121F27;
  height: 200px;
  margin-bottom:30px;
}.nineth_image_div p{
  color: #72F595;
  font-size: 20px;
  line-height: 190px;
}.nineth_section{
  text-align: center;
  width: 900px !important;
}.nineth_div_text p{
  color: white;
  margin-bottom: 32px;
}.nineth_div_text h6{
  color: #72F595;
  margin-bottom: 20px;
}.nineth_div_text{
  text-align: left;
}.tenth_section{
  /* background: url('../../images/quote.png'); */
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  background-position: center;
  padding: 50px;
}.tenth_section p{
  color: white;
  margin-bottom: 6px;
}.eleventh_section{
  text-align: center;
  width: 900px!important;
  padding: 40px 16px 120px;
  background: #08121B;
  border-radius: 36px;
  margin-bottom: 68px;
}.eleventh_section p{
  color: white;
  padding: 0px 32px 0px;
}

@media screen and (max-width: 430px) and (min-width: 300px) {
  .login_right_div{
    display:none;
  }.admin_div{
    padding:50px 24px 50px 24px;
    border-top: 3px solid #4B4B4B;
    border-radius: 4px;
  }.login_left_div{
    padding-left:0 !important;
  }.navbar_left_div h4{
    font-size:15px;
  }.navbar_right_div h5{
    font-size: 14px;
  }.sidebar {
    width: 240px;
    position: absolute;
    z-index: 1;
    top: 0;
  }.navbar_toggle {
    display: inline-block !important;
  }.navbar_toggle::after{
	  top: -4px !important;
  }#nav_accordion{
    padding-top: 40px;
  }.navbar_right_div{
    padding-top:2px;
  }.form_btn{
    padding: 6px 19px;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) and (min-width: 431px) {
  .login_right_div{
    display:none;
  }.admin_div{
    padding:50px 24px 50px 24px;
    border-top: 3px solid #4B4B4B;
    border-radius: 4px;
  }.login_left_div{
    padding-left:0 !important;
  }.sidebar {
    width: 240px;
    position: absolute;
    z-index: 1;
    top: 0;
  }.navbar_toggle {
    display: inline-block !important;
  }.navbar_toggle::after{
	  top: -4px !important;
  }#nav_accordion{
    padding-top: 40px;
  }
}@media screen and (max-width: 1000px) and (min-width: 768px) {
  .login_img_div img{
    height:437px;
  }.three_img .logo{
      width:auto !important;
  }
}
